{% extends "lay.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}

    <form action="/" method="get">
        <div class="input-form"> 
            <label class="w3-text"><b>{{ message }}</b></label>
            <br>
            <br>
            <button class="submit-form-button" type="submit">Go Back</button>
        </div>
    </form>
    <!-- https://memegen.link/ -->
    <!-- <img alt="{{ top }}" class="border img-fluid" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://i.imgur.com/CsCgN7Ll.png&width=400" title="{{ top }}"> -->
{% endblock %}
