{% extends "lay.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="input-form"> 
            <label class="w3-text"><b>Username</b></label>
            <div class="input-field">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" type="text" autocomplete="username">
            </div>
            <br>
            <label class="w3-text"><b>Password</b></label>
            <div class="input-field">
                <input class="form-control mx-auto w-auto" id="password" name="password" type="password" autocomplete="current-password">
            </div>
            <br>
            <button class="submit-form-button" type="submit">Log In</button>
        </div>
    </form>
{% endblock %}
